body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;

}
h1{color: white;}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header nav {
  background-color: rgb(235, 25, 46) !important;
}

header nav ul li {
  display: inline;
}

header nav ul li .mi-link {
    color: white;
}

footer div ul li {
  display: inline;
}

section {
  display: inline-flex;
}

button {
    background-color: rgb(237, 16, 16);
    border-radius: 35px;
}

footer {
  background-color: black;
}

main {
  background-color: rgb(0, 0, 0);
}

